@page
@model WebShop.Pages.Products.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Checkout</h1>

@*<form method="post">
    <input type="text" asp-for="Name" placeholder="Indtast navn" />
    <input type="text" asp-for="Email" placeholder="Indtast Email" />
    <input type="text" asp-for="Address" placeholder="Indtast addresse" />

    <select class="custom-select" asp-for="DeliveryOption" asp-items="@Model.DeliveryOptionDropdown"></select>
    <select class="custom-select" asp-for="PaymentOption" asp-items="@Model.PaymentOptionDropdown"></select>
    <button type="submit"></button>
</form>*@

<form method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input class="form-control" type="text" asp-for="FullOrder.Name" placeholder="Enter name" />
        <span class="text-danger" asp-validation-for="FullOrder.Name"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input class="form-control" type="text" asp-for="FullOrder.Email" placeholder="Enter email" />
        <span class="text-danger" asp-validation-for="FullOrder.Email"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Address</label>
        <input class="form-control" type="text" asp-for="FullOrder.Address" placeholder="Enter address" />
        <span class="text-danger" asp-validation-for="FullOrder.Address"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Delivery</label>
        <select class="custom-select" asp-for="FullOrder.DeliveryOption" asp-items="Model.DeliveryOptionDropdown"></select>
        <span class="text-danger" asp-validation-for="FullOrder.DeliveryOption"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Payment</label>
        <select class="custom-select" asp-for="FullOrder.PaymentOption" asp-items="Model.PaymentOptionDropdown"></select>
        <span class="text-danger" asp-validation-for="FullOrder.PaymentOption"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>