@page "{productId:int}"
@model WebShop.Pages.Products.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />

<div class="jumbotron border-info border">
    <div class="row">
        <div class="col-lg-6">
            @if (Model.Product.PhotoPath == null)
            {<img class="" src="~/img/notfound.png" asp-append-version="true" alt="Card image" style="width:100%"> }
            else
            { <img class="rounded" src="~/img/@{@Model.Product.PhotoPath}.jpg" asp-append-version="true" alt="Card image" style="width:100%">}
        </div>
        <div class="col-lg-6">
            <h1 class="card-title">@Model.Product.BrandName</h1>
            <h4 class="card-text">@Model.Product.ModelName</h4>
            <span>Price:</span><h5><b>@Model.Product.Price</b></h5>
        </div>
    </div>
</div>