@page "{productId:int}"
@model WebShop.Pages.Products.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<br />

<form method="post">
    <input type="hidden" asp-for="EditedProduct.Id" value="@Model.Product.Id" />

    <div class="form-group">
        <label>Brand:</label>
        <select asp-for="EditedProduct.BrandId"
                asp-items="Model.Brands"
                class="form-control"></select>
        <span class="text-danger" asp-validation-for="EditedProduct.BrandId"></span>
    </div>
    <div class="form-group">
        <label>Model:</label>
        <input asp-for="EditedProduct.ModelName" value="@Model.Product.ModelName" class="form-control" />
        <span class="text-danger" asp-validation-for="EditedProduct.ModelName"></span>
    </div>
    <div class="form-group">
        <label>Price:</label>
        <input asp-for="EditedProduct.Price" value="@Model.Product.Price" class="form-control" />
        <span class="text-danger" asp-validation-for="EditedProduct.Price"></span>
    </div>

    <button type="submit" class="btn btn-info">Save</button>
</form>