@page
@model WebShop.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<br />
<div class="card-deck">
    @foreach (var item in Model.Products)
    {
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="card my-4 border-info">
            @if (item.PhotoPath == null)
                {<img class="card-img-top" src="~/img/notfound.png" asp-append-version="true" alt="Card image" style="width:100%"> }
                else
                { <img class="card-img-top" src="~/img/@{@item.PhotoPath}.jpg" asp-append-version="true" alt="Card image" style="width:100%">}
            <div class="card-body">
                <h5 class="card-title">@item.BrandName</h5>
                <p class="card-text">@item.ModelName</p>
                <span>Price:</span><h5><b>@item.Price</b></h5>
            </div>
            <div class="card-footer text-muted">

                <a class="btn btn-info" asp-page="/Products/Details" asp-route-productId="@item.Id">
                    <i class="fas fa-info-circle"></i>
                    <span>Details</span>
                </a>
                <a class="btn btn-info" asp-page="./Edit" asp-route-restaurantId="">
                    <i class="fas fa-edit"></i>
                    <span>Add to cart</span>
                </a>
            </div>
        </div>
    </div>
    }
</div>
